.services-top-container{
  width: 100dvw;
  height: 100dvh;
}

.service-card-group{
  width: 100dvw;
  height:100dvh;
}

.service-card{
  width: 100dvw;
}

.service-card-pic{
  width: 250px;
  height: fit-content;
}

.inside-service-card{
  font-size: 3em;
}