.projects-top-container{
  height: 100dvh;
  width: 100dvw;
}

.card-title{
  font-size: 4em;
  background: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
  color: transparent;
  background-clip: text;
}

.projects-container {
  height: 350px;
  width: 600px;
  transform-style: preserve-3d;
}

.cardrousel {
  position: absolute;
  transition: transform .4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.cardrousel img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 15px;
  object-fit: contain;
  box-shadow: 5px 5px 5px 1px black;
}

#photo-1:checked ~ .cards #pic-3, #photo-2:checked ~ .cards #pic-1, #photo-3:checked ~ .cards #pic-2 {
  transform: translatex(-40%) scale(.8) rotateZ(-10deg);
  opacity: .4;
  z-index: 0;
}

#photo-1:checked ~ .cards #pic-2, #photo-2:checked ~ .cards #pic-3, #photo-3:checked ~ .cards #pic-1 {
  transform: translatex(40%) scale(.8) rotateZ(10deg);
  opacity: .4;
  z-index: 0;
}

#photo-1:checked ~ .cards #pic-1, #photo-2:checked ~ .cards #pic-2, #photo-3:checked ~ .cards #pic-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.learn-more{
  font-size: 3em;
  color: white;
  background: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
  background-clip: text;
  transition: 1s ease;
&:hover{
  font-size: 3.2em;
  color: transparent;
  transition: 1s ease;
}
}