body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);
}

.shadow5{
  box-shadow: 10px 10px 10px 5px black;
}

.info{
  border-left: 2px solid gray;
}

.propic{
max-width: 600px;
max-height: 600px;
border-radius: 50px;
box-shadow: 10px 10px 10px 5px black;
}

.name{
  font-size: 6em;
  flex-grow: 1;
  text-shadow: 5px 5px 2px black;
}

.devtext{
  font-size: 1.3em;
  text-shadow: 5px 2px 2px black;
}

.buttonCV{
background-color: transparent;
color: white;
border: 2px solid gray;
border-radius: 5px;
font-size: 1.2em;
transition: 1s ease;
&:hover {
  font-size: 1.6em;
  transition: 1s ease;
}
}

.buttonWA{
background-color: green;
color: white;
border: 0px;
border-radius: 5px;
font-size: 1.2em;
transition: 1s ease;
&:hover {
  font-size: 1.6em;
  transition: 1s ease;
}
}

.arrow {
  box-sizing: border-box;
  height: 7vw;
  width: 7vw;
  border-style: solid;
  border-color: gray;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: 250ms ease-in-out;
&:hover {
border-width: 0px 5px 5px 0px;
border-radius: 5px;
border-color: white;
}}

.protitle{
  font-size: 10em;
}