.sidebar{
    z-index: 1230;
    position: fixed;
    background: transparent;
    top: 35%;
    transform: translateX(-1000px);
    animation: slideRight ease forwards;
    animation-timeline: view(0% 100%);
}

.jump{
    margin-top: 15px;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    transition: 500ms 500ms ease;
    transform: rotate3d(1, 1, 1, 350deg);
&:hover{
    font-size: 1.8em;
    transform: rotate3d(1, 1, 1, 360deg);
    transition: 500ms ease;
    color: rgb(30,30,30);
    text-shadow: -1px -1px 0px rgb(0, 255, 136),-1px 1px 0px rgb(13, 202, 240),1px -1px 0px rgb(13, 202, 240),1px 1px 0px rgb(13, 202, 240);
}
}

@keyframes slideRight {
    0%{transform: translateX(-1000px);}
    100%{transform: translateX(0px);}
}