.sidebar{
    z-index: 1230;
    position: fixed;
    background: transparent;
    top: 35%;
    transform: translateX(-1000px);
    animation: slideRight ease forwards;
    animation-timeline: view(0% 100%);
}

.jump{
    margin-top: 15px;
    position: relative;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    transition: 1s 150ms ease;
&:hover{
    font-size: 1.8em;
    transition: 1s ease;
}
}

.jump::after{
    content: "";
    position: relative;
    display: block;
    height: 1px;
    width: 3px;
    background: white;
    transition: 1s 150ms ease;
}

.jump:hover::after{
    width: 100%;
    transition: 1s ease;
}

@keyframes slideRight {
    0%{transform: translateX(-1000px);}
    100%{transform: translateX(0px);}
}