.testi-container{
    height: 100dvh;
    width: 100dvw;
}

.testi-card{
    width: 400px;
    box-shadow: 4px 4px 10px 1px black;
    border-radius: 15px;
}

.testi-pic{
    object-fit: contain;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    box-shadow: 2px 2px 2px 2px black;
    transition: 1s ease;
&:hover{
    width: 200px;
    height:200px;
    transition: 1s ease;
}
}

.testi-name{
    font-size: 1.5em;
}

.testi-jobtitle{
    font-size: 0.9em;
}

.testi-text{
    font-size: 1em;
}

.testi-link{
    border: 0.5px solid white;
    border-radius: 7px;
    font-size: 1em;
    transition: 1s ease;
&:hover{
    font-size: 1.2em;
    transition: 1s ease;
}

}